
  <h1 data-id="" class="view-file">All Files</h1>

<div class="form-results">
<h3>All Files</h3>
<div id="{{result._id}}">
<p><a href="{{result.url}}" download="{{result.title}}">Name: {{result.title}}</a></p>
<p>Owner: {{result.owner}}</p>
<p>Created: {{result.createdAt}}</p>
<p>Updated: {{result.updatedAt}}</p>
<p>Tags: {{result.tag}}</p>
</div>
</div>
