<div id="{{result._id}}-all" class="display-file">
 <p><a href="{{result.url}}" download="{{result.title}}" target="_blank">{{result.title}}</a></p>
 <p>Owner: {{result.owner}}</p>
 <p>Created: {{result.createdAt}}</p>
 <p>Updated: {{result.updatedAt}}</p>
 {{#if result.tag}}
  <p>Tags: {{result.tag}}</p>
 {{/if}}
</div>
